{
  "extends": ["wesbos/typescript"],
  "rules": {
    "prefer-const": 0,
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "react-hooks/rules-of-hooks": 0,
    "react/jsx-no-bind": [
      0,
      {
        "ignoreDOMComponents": true,
        "ignoreRefs": true,
        "allowArrowFunctions": true,
        "allowFunctions": true,
        "allowBind": true
      }
    ],
    "no-unused-expressions": "off",
    "react/jsx-boolean-value": 0
  }
}
