{
  "plugins": ["unused-imports"],
  "extends": ["wesbos/typescript"],
  "rules": {
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "prefer-const": 0,
    "react/prop-types": 0,
    "react/destructuring-assignment": 0,
    "react-hooks/rules-of-hooks": 0,
    "react/jsx-no-bind": [
      0,
      {
        "ignoreDOMComponents": true,
        "ignoreRefs": true,
        "allowArrowFunctions": true,
        "allowFunctions": true,
        "allowBind": true
      }
    ],

    "no-unused-expressions": "off",
    "react/jsx-boolean-value": 0
  }
}
